<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Firebase Notes App</h1>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon class="example-icon">supervisor_account</mat-icon>
      </button>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <button mat-button color="warn" (click)="authenticate()">Connect with Google</button>
          <!--<a mat-list-item routerLink="/login" *ngFor="let nav of menuItems">{{nav}}</a>-->
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
            <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  