<mat-card class="card-demo">
        <mat-card-title>Welcome to the Notes PWA</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <mat-card-content>
            <div class="containerX">
                <div class="box">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px"
                    style="height:100%;width:100%;">
                    <div fxFlex>
                    </div>
                </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
</mat-card>