<mat-card class="card-demo" style="margin: 10px;">
    <mat-card-title>Social Login</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <div class="containerX">
        <div class="box" style="height:200px;">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px"
               style="height:100%;padding: 5px;">
            <div fxFlex>
                <div *ngIf="!(auth.user | async); else alreadyLoggedIn">
                      <button mat-raised-button color="accent" (click)="signInWithGoogle()">Connect with Google</button>
                  </div>
                  
            <ng-template #alreadyLoggedIn>
                    <p class="text-success">
                      Already logged in!
                    </p>
            </ng-template>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>